body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

form {
    margin: 20px;
}

label {
    font-size: 18px;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1fbad6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}
